@font-face {
    font-family: "main";
    src: url(../../fonts/Dana-FaNum-Black.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "main";
    src: url(../../fonts/Dana-FaNum-Bold.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "main";
    src: url(../../fonts/Dana-FaNum-Medium.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "main";
    src: url(../../fonts/Dana-FaNum-Regular.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "main";
    src: url(../../fonts/Dana-FaNum-Thin.ttf) format("truetype");
    font-weight: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0px;
}


table {
    border-collapse: collapse;
}

body,
html {
    font-family: 'main';
    font-weight: 200;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

a:hover {
    text-decoration: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'main' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

input {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'main' !important;
}

textarea{
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'main' !important;
    height: 150px;
    border-radius: 8px;
    resize: none;
    border: 1px solid #CECECE;
    padding: 15px;
    width: 100%;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 95%;
    }
}